// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items{
  img{
    max-width: 200px;
    max-height: 200px;
  }
  .details{
    display: none;
  }
  .item:hover .details {
    display: block;
  }
}
